//_______________________________________________MOBILE BREAKPOINT!___//
@media (max-width: 1023px){
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .underline {
        display: none;
    }
    //_________________________________________________________Main_div___//
    .main-div {
        height: 100vh;
        width: 100%;
        background-image: url("/images/groningen_bg.jpg");
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
        clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-div-buttons {
        margin-top: 4rem;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .main-div h1 {
        font-size: 3rem;
        font-family: $font-2;
        color: white;
        font-weight: 800;
    }
    .main-div h3 {
        font-size: 1rem;
        font-family: $font-2;
        font-style: italic;
        color: white;
    }
    .btn-main {
        height: 2.5rem;
        width: 80%;
        text-align: center;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        font-size: 1rem;
        margin: 1rem;
        transition: 200ms ease;
    }
    .btn-main:hover{
        background-color: orange;
        border: 1px solid orange;
    }

    //_________________________________________________________Triple_icon_div___//
    .triple-icon-div {
        margin-top: 2rem;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: -webkit-center;
    }
    .triple-icon-div h3 {
        margin-top: 0%;
        font-size: 2.7rem;
        font-weight: bold;
        color: grey;
        max-width: 11ch;
        margin-bottom: 1rem;
    }
    .triple-icon-div p {
        font-size: 2.2rem;
        font-weight: normal;
        color: rgb(139, 139, 139);
        max-width: 15ch;
        margin-top: 0%;
        padding-bottom: 1rem;
    }
    .triple-icon-div h3::after {
        content: "";
        border-bottom: 2px solid grey;
        display: block;
        width: 40%;
        margin: 0px auto;
    }
    .triple-icon_one .triple-icon_two .triple-icon_three{
        width: 33%;
        text-align: center;
    }
    .triple-icon-img {
        height: 20rem;
        width: auto;
        cursor: pointer;
        transition: 200ms ease;
    }
    .triple-icon-img:hover {
        transform: scale(1.05);
    }

    //_________________________________________________________Laptop_div___//
    .laptop-div {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        position: relative;
        padding-bottom: 8rem;
    }
    .laptop-div img {
        position: absolute;
        left: 50%;
        top: 40%;
        width: 40rem;
        height: auto;
        z-index: 1;
        filter: opacity(10%);
    }
    .laptop-div-left {
        width: 100%;
        padding-left: $paddingleft_s;
        z-index: 3;
    }
    .laptop-div-left p{
        font-size: 1.5rem;
        max-width: 53ch;
        color: gray;
    }
    .laptop-div-title {
        font-size: 3rem;
        color: orange;
        font-weight: bolder;
    }
    .laptop-div-title::after {
        content: "";
        border-bottom: 2px solid grey;
        display: block;
        width: 14%;
    }
    .btn-laptop {
        height: 5rem;
        width: 80%;
        text-align: center;
        background-color: orange;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 2rem;
        transition: 200ms ease;
    }
    .btn-laptop:hover{
        font-size: 2.2rem;
    }

    //_________________________________________________________Grey_div___//
    .grey-div {
        margin-top: 10rem;
        height: 100vh;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .grey-div-left {
        width: 100%;
        height: auto;
        background-color: #333;
        padding-left: $paddingleft_s;
    }
    .grey-div-left h1 {
        font-size: 3rem;
        color: orange;
        font-weight: bolder;
        margin-bottom: 0%;
    }
    .grey-div-left p {
        font-size: 1.2rem;
        max-width: 47ch;
        color: lightgrey;
        margin-top: 0.1rem;
    }
    .grey-div-left-subjects {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .grey-div-right {
        display: none;
    }

    //_________________________________________________________Pricing_div___//
    .pricing-div {
        margin-top: 10rem;
        height: auto;
        width: 100%;
        margin-bottom: 0%;
        flex-direction: row;
    }
    .pricing-card-outer {
        margin-top: 5rem;
        margin-bottom: 5rem;

    }
    .pricing-div h1{
        padding-left: $paddingleft_s;
        font-size: 3rem;
        color: orange;
        font-weight: bolder;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .pricing-card {
        margin-bottom: 1rem;
        height: auto;
        width: 100%;
        background-color: lightgrey;
        text-align: center;
        cursor: pointer;
        transition: 200ms ease;
        padding-bottom: 3rem;
    }
    .btn-pricing:hover {
        background-color: orange;
        transform: scale(1.05);
    }
    .pricing-card h2 {
        font-size: 2.3rem;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .pricing-card-top {
        background-color: #B3B8BC;
        height: 10rem;
        padding-top: 1.5rem;
        position: relative;
    }
    .pricing-card-price-inner {
        font-size: 3rem;
        font-weight: 900;
        color: white;
    }
    .pricing-card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 1.4rem;
        font-weight: 200;
        margin-top: 3rem;
    }
    .btn-pricing {
        margin-top: 1rem;
        height: 5rem;
        width: 80%;
        text-align: center;
        background-color: #B3B8BC;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 2rem;
        transition: 200ms ease;
    }

    //_________________________________________________________Contact_form___//
    .contact-form {
        height: 50vh;
        width: 100%;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .contact-form h1 {
        font-size: 3rem;
        color: orange;
        font-weight: bolder;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contact-form h2 {
        font-size: 1.5rem;
        color: rgb(54, 54, 54);
        font-weight: 500;
    }
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form input::placeholder {
        color: rgb(167, 167, 167);
    }
    .form input {
        font-size: 2rem;
        font-weight: 100;
        width: 80%;
        height: 4rem;
        padding-left: 1rem;
        border: 2px solid grey;
        border-radius: 10px;
        margin: 0.5rem;
    }
    .btn-form {
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 5rem;
        width: 80%;
        text-align: center;
        background-color: orange;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 2rem;
        transition: 200ms ease;
    }
    .btn-form:hover {
        transform: scale(1.05);
    }
}


@media (max-width: 1023px) and (min-width: 700px) {
    .main-div h1 {
        font-size: 5rem;
    }
    .main-div h3 {
        font-size: 3rem;
    }
    .btn-main {
        height: 4rem;
        width: 70%;
        font-size: 2rem;
    }
    //_________________________________________________________Laptop_div___//
    .laptop-div {
        padding-bottom: 1rem;
    }
    //_________________________________________________________Contact_form___//
    .contact-form {
        margin-bottom: 10rem;
    }

}
